/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        LBracket {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <56 36>;
        };

        RBracket {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <56 49>;
        };

        ArrowUp {
            bindings = <&kp UP_ARROW>;
            key-positions = <56 20>;
        };

        ArrowLeft {
            bindings = <&kp LEFT>;
            key-positions = <56 31>;
        };

        RightArrow {
            bindings = <&kp RIGHT>;
            key-positions = <56 33>;
        };

        DownArrow {
            bindings = <&kp DOWN>;
            key-positions = <56 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESCAPE            &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                                                     &kp NUMBER_6  &kp N7  &kp N8            &kp N9         &kp N0         &kp EQUAL
&kp TAB               &kp Q         &kp W         &kp F         &kp P         &kp B                                                      &kp J         &kp L   &kp U             &kp Y          &kp BACKSLASH  &kp MINUS
&kp BACKSPACE         &kp A         &kp R         &kp S         &kp T         &kp G                                                      &kp M         &kp N   &kp E             &kp I          &kp O          &kp GRAVE
&kp LEFT_PARENTHESIS  &kp Z         &kp X         &kp C         &kp D         &kp V                 &kp KP_COMMA            &kp KP_DOT   &kp K         &kp H   &kp SINGLE_QUOTE  &kp AMPERSAND  &kp SLASH      &kp RIGHT_PARENTHESIS
                                                  &kp LCTRL     &kp LEFT_ALT  &kp LS(LEFT_CONTROL)  &mt LEFT_SHIFT SPACE    &lt 1 ENTER  &mo 2         &trans  &kp LEFT_WIN
            >;
        };

        Navig {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Navigation";
            bindings = <
&trans   &kp F1  &kp F2    &kp F3         &kp F4        &kp F5                                         &kp F6   &kp F7    &kp F8          &kp F9     &kp F10             &kp PRINTSCREEN
&trans   &trans  &trans    &kp PG_UP      &trans        &kp F11                                        &kp F12  &trans    &kp UP_ARROW    &trans     &kp C_REWIND        &kp PAUSE_BREAK
&kp DEL  &trans  &kp HOME  &kp PAGE_DOWN  &kp END       &trans                                         &trans   &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &kp C_PAUSE         &kp RG(PAUSE_BREAK)
&kp INS  &trans  &trans    &kp LS(LCTRL)  &trans        &kp LS(INS)    &to 0                   &tog 1  &trans   &trans    &trans          &trans     &kp C_FAST_FORWARD  &trans
                           &kp LCTRL      &kp LEFT_ALT  &kp LS(LCTRL)  &mt LEFT_SHIFT SPACE    &mo 1   &to 0    &to 4     &to 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Mouse {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans  &trans  &trans  &trans     &trans        &trans                                    &trans  &trans     &trans     &trans    &trans     &trans
&trans  &trans  &trans  &kp N3     &trans        &trans                                    &trans  &kp N7     &kp N8     &kp N9    &trans     &trans
&trans  &trans  &kp F3  &kp F4     &kp F5        &trans                                    &trans  &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
&trans  &trans  &trans  &trans     &trans        &trans         &to 0              &tog 2  &trans  &kp MINUS  &kp EQUAL  &kp LBKT  &trans     &trans
                        &kp LCTRL  &kp LEFT_ALT  &kp LS(LCTRL)  &mt LSHFT SPACE    &trans  &mo 2   &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Gaming {
            bindings = <
&kp ESCAPE     &kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4                             &trans  &trans  &trans  &trans  &trans  &trans
&kp NUMBER_6   &kp N7          &kp Q         &kp W         &kp E         &kp R                                    &trans  &trans  &trans  &trans  &trans  &trans
&kp BACKSPACE  &kp LEFT_SHIFT  &kp A         &kp S         &kp D         &kp F                                    &trans  &trans  &trans  &trans  &trans  &trans
&kp N5         &kp LCTRL       &kp Z         &kp X         &kp C         &kp V          &kp G        &trans       &trans  &trans  &trans  &trans  &trans  &trans
                                             &kp A         &kp LEFT_ALT  &kp LS(LCTRL)  &kp SPACE    &lt 1 ENTER  &trans  &trans  &trans
            >;
        };

        qwerty {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Qwerty";
            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                   &kp N6  &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB           &kp Q   &kp W   &kp E     &kp R     &kp T                                    &kp Y   &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp LSHFT         &kp A   &kp S   &kp D     &kp F     &kp G                                    &kp H   &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp LBKT            &kp RBKT     &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                  &kp LALT  &kp LGUI  &mo 1   &mt LSHIFT SPACE    &lt 1 ENTER  &mo 2   &kp BSPC  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
