/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        LBracket {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <56 36>;
        };

        RBracket {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <56 49>;
        };

        ArrowUp {
            bindings = <&kp UP_ARROW>;
            key-positions = <56 20>;
        };

        ArrowLeft {
            bindings = <&kp LEFT>;
            key-positions = <56 31>;
        };

        RightArrow {
            bindings = <&kp RIGHT>;
            key-positions = <56 33>;
        };

        DownArrow {
            bindings = <&kp DOWN>;
            key-positions = <56 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESCAPE            &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4  &kp N5                                                     &kp NUMBER_6   &kp N7  &kp N8        &kp N9      &kp N0         &kp EQUAL
&kp TAB               &kp Q         &kp W         &kp F             &kp P         &kp B                                                      &kp J          &kp L   &kp U         &kp Y       &kp SEMICOLON  &kp BACKSLASH
&kp DELETE            &kp A         &kp R         &kp S             &kp T         &kp G                                                      &kp M          &kp N   &kp E         &kp I       &kp O          &kp SINGLE_QUOTE
&kp LEFT_PARENTHESIS  &kp Z         &kp X         &kp C             &kp D         &kp V                 &mo 3                   &mo 3        &kp K          &kp H   &kp COMMA     &kp PERIOD  &kp SLASH      &kp RIGHT_PARENTHESIS
                                                  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LS(LEFT_CONTROL)  &mt LEFT_SHIFT SPACE    &lt 1 ENTER  &kp BACKSPACE  &to 1   &kp LEFT_WIN
            >;

            label = "Base";
        };

        Navigation {
            bindings = <
&trans  &trans            &trans          &trans          &trans     &trans                                 &trans  &trans    &trans          &trans           &trans             &trans
&trans  &trans            &trans          &trans          &trans     &trans                                 &trans  &trans    &trans          &trans           &trans             &trans
&trans  &kp LEFT_SHIFT    &trans          &kp UP_ARROW    &trans     &trans                                 &trans  &trans    &kp UP_ARROW    &trans           &kp RIGHT_SHIFT    &trans
&trans  &kp LEFT_CONTROL  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans  &kp LEFT_GUI    &kp RIGHT_GUI  &trans  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RIGHT_CONTROL  &trans
                                          &tog 2          &to 3      &to 0   &mo 1           &mo 1          &to 0   &to 3     &to 2
            >;

            label = "Navigation";
        };

        Gaming {
            bindings = <
&kp ESCAPE     &kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4                             &none  &none  &none      &none  &none  &none
&kp NUMBER_6   &kp TAB         &kp Q         &kp W         &kp E         &kp R                                    &none  &none  &none      &none  &none  &none
&kp BACKSPACE  &kp LEFT_SHIFT  &kp A         &kp S         &kp D         &kp F                                    &kp Y  &none  &none      &none  &none  &none
&kp N5         &kp LCTRL       &kp Z         &kp X         &kp C         &kp V          &kp G        &kp T        &none  &none  &none      &none  &none  &none
                                             &mo 3         &kp LEFT_ALT  &kp LS(LCTRL)  &kp SPACE    &lt 0 ENTER  &to 0  &none  &kp SLASH
            >;

            label = "Games";
        };

        Coding {
            bindings = <
&kp ESCAPE  &kp F1            &kp F2        &kp F3        &kp F4        &kp F5                                       &kp F6         &kp F7         &kp F8     &kp F9  &kp F10  &none
&kp TAB     &kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                                       &kp NUMBER_6   &kp N7         &kp N8     &kp N9  &kp N0   &none
&kp DELETE  &kp LEFT_SHIFT    &kp PLUS      &kp MINUS     &kp ASTERISK  &kp SLASH                                    &kp PAGE_UP    &kp RIGHT_GUI  &none      &none   &none    &none
&kp EQUAL   &kp LEFT_CONTROL  &none         &none         &none         &none      &mo 3             &mo 3           &kp PAGE_DOWN  &none          &none      &none   &none    &kp MINUS
                                            &kp LEFT_GUI  &none         &none      &kp LEFT_SHIFT    &kp LEFT_SHIFT  &kp BACKSPACE  &to 0          &kp ENTER
            >;

            label = "Code";
        };
    };
};
